
        <div class="custom-gauge">
            <wj-radial-gauge 
                class="{{color}}"
                [min]="0"
                [max]="max"
                [value]="value"
                [showText]="showText"
                [startAngle]="startAngle"
                [sweepAngle]="sweepAngle"
                [tickSpacing]="tickSpacing"
                [needleShape]="needleShape"
                [needleLength]="needleLength"
                [thickness]=".2"
                [showTicks]="false"
                [showTickText]="false"
                [isReadOnly]="true">
            </wj-radial-gauge>
        </div>
            