@use '../../theme/style/variables';

.mat-tab-group.tab.mat-primary .mat-tab-header {
  position: relative;
  display: flex;
  flex-shrink: 0;
  padding: 0 120px;
  overflow: hidden;
  background-color: #004141;
  border: none;
}

.matero-row {
  margin-right: 0;
  margin-left: 0;
}

.matero-col {
  padding-right: 0;
  padding-left: 0;
}

.default-wrap {
  width: 100%;
  height: calc(100vh - 40px);
  font-size: 14px;
  font-family: variables.$font-family-arial !important;
  // padding: 0 120px;
  background-color: variables.$back-green;

  .mat-tab-group {
    width: 100%;

    .mat-tab-list {
      .mat-tab-label {
        height: 40px;

        &.mat-tab-label-active {
          background-color: variables.$active-green !important;

          .mat-tab-label-content {
            color: variables.$hover-green;
          }
        }

        .mat-tab-label-content {
          color: variables.$light-gray;
        }
      }

      .mat-ink-bar {
        background-color: variables.$hover-green;
      }
    }

    .mat-tab-body-wrapper {
      .mat-tab-body {
        .mat-tab-body-content {
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  .big-middle {
    display: flex;
    flex: none;
    justify-content: space-between;
    box-sizing: none;
    margin-right: 16px;
    margin-left: 16px;
    padding-right: 0;
    padding-left: 0;
  }

  .tab {
    height: 100%;
  }

  .grid {
    padding: 16px 120px;

    .parent-component {
      margin-bottom: 16px;
      // width: 100%;
      // height: 100%;
      padding: 16px;
      background-color: variables.$component-back-green;
      border-radius: 4px;

      .title {
        // margin-bottom: 12px;
        color: variables.$dark-font-color;
        font-size: 18px;
        // font-size: 1.1rem;
      }

      .clear {
        float: right;

        a {
          color: variables.$dark-font-hover-color;
          text-decoration: revert;
        }
      }

      .small-pieces {
        margin-top: 16px;

        .matero-col {
          margin: 0;
          padding: 0;

          &:first-child {
            margin-right: 16px;
          }

          .child-piece {
            padding: 16px;
            color: variables.$dark-font-color;
            background-color: variables.$light-green;
            border-radius: 8px;

            .title {
              display: flex;
              align-items: center;
              margin-bottom: 16px;
              // font-family: variables.$font-family-arial;
              font-size: 14px;

              img {
                margin-right: 8px;
              }
            }

            .bob-stack {
              color: variables.$hover-green;
              // font-family: variables.$font-family-arial;
              font-style: normal;

              .bob-item {
                display: flex;

                .bob-select {
                  width: 8px;
                  height: 8px;
                  margin: auto 8px auto 0;
                  background: variables.$hover-green;
                  border-radius: 50%;
                }

                .bob-text {
                  font-weight: 400;
                  line-height: 1.7rem;
                }

                &.active {
                  .bob-select {
                    background: variables.$pink;
                  }

                  .bob-text {
                    color: variables.$pink;
                  }
                }
              }
            }
          }
        }
      }

      &.event-log {
        padding-bottom: 4px;

        .event-log-header {
          margin-bottom: 16px;
        }

        .event-log-body {
          height: 250px;
          margin-right: -16px;
          overflow: auto;

          &::-webkit-scrollbar {
            width: 4.86px;
          }

          &::-webkit-scrollbar-track {
            background-color: initial;
            opacity: 0;
          }

          &::-webkit-scrollbar-thumb {
            background: #ffffff4d;
            border-radius: 2.43px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #ffffffb3;
          }
        }
      }

      &.status {
        .image-section {
          img {
            width: 331px;
            margin-top: 16px;
          }
        }

        .status-section {
          margin-top: -16px;

          .child-component {
            margin-top: 10px;
            padding: 10px;

            &.critical-pressure {
              .status {
                .active {
                  width: 69px;
                  height: 24px;
                  margin-right: 7px;
                  border-radius: 12px;
                }

                .inactive {
                  width: 69px;
                  height: 24px;
                  border-radius: 12px;
                }
              }
            }
          }
        }
      }
    }

    .logger {
      display: flex;
      align-items: baseline;

      img {
        margin-right: 10px;
      }

      .title {
        color: variables.$dark-font-gray;
        font-size: 14px;
        line-height: 125.5%;
      }

      .date {
        margin-top: 0;
        color: variables.$dark-font-grey;
        font-weight: 400;
      }

      &.active {
        .img {
          color: red;
        }
      }
    }

    .progress-bar {
      display: flex;
      height: fit-content;
      margin-right: 16px;
      margin-bottom: 16px;
      background-color: variables.$dark-progress-background;
      border-radius: 5px;
      // justify-content: center;
      img {
        width: 32%;
      }

      p {
        margin: 16px auto 4px;
        color: variables.$dark-font-color-dark-purple;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }

      span {
        color: variables.$dark-font-light-gray;
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        line-height: 16px;
      }

      &.red {
        p {
          color: #fcaeff;
        }
      }
    }

    .child-component {
      margin-top: 16px;
      padding: 16px;
      color: variables.$dark-font-color;
      background-color: variables.$light-green;
      border-radius: 8px;

      .title {
        display: flex;
        align-items: center;
        // font-family: variables.$font-family-arial;
        font-size: 14px;

        img {
          margin-right: 12px;
        }
      }

      .bop-stack-wraper {
        margin-top: 20px;
      }

      .bob-stack {
        color: variables.$hover-green;
        // font-family: variables.$font-family-arial;
        font-style: normal;

        .bob-item {
          display: flex;

          .bob-select {
            width: 8px;
            height: 8px;
            margin: auto 8px auto 0;
            background: variables.$hover-green;
            border-radius: 50%;
            box-shadow: 0 0 8px rgba(0, 227, 169, .4);
          }

          .bob-text {
            font-weight: 400;
            line-height: 2rem;
          }

          &.active {
            .bob-select {
              background: variables.$pink;
            }

            .bob-text {
              color: variables.$pink;
            }
          }
        }
      }

      .color-white {
        color: white;
      }

      .color-purple {
        color: variables.$dark-font-color-light-purple;
      }

      .status {
        padding: 4px 0;

        .active {
          width: 100%;
          padding: 4px 10px;
          color: white;
          background: rgba(255, 255, 255, .2);
          border-radius: 21px;
        }

        .inactive {
          width: 100%;
          padding: 4px 10px;
          color: white;
          color: variables.$dark-font-color-light-purple !important;
          background: rgba(255, 255, 255, .2);
          border-radius: 21px;
        }

        .square-active {
          padding: 4px 10px;
          background: rgba(255, 255, 255, .2);
          border-radius: 5px;
        }

        .square-inactive {
          padding: 4px 10px;
          background: variables.$light-green;
          border-radius: 5px;
          // width: 35px;
        }
      }

      .flex-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .flex-none {
      display: grid;

      customtoggle {
        margin-top: 4px;
      }
    }

    .pressure {
      .matero-col {
        margin-right: 0;

        &:first-child {
          margin-right: 13.5px;
        }
      }
    }

    .big-health {
      display: flex;
      flex: none;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: none;
    }

    .big-modal {
      display: flex;
      flex: none;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: none;
    }
  }
}

.matero-container-wrap {
  width: 1920px;
}

// Wijmore gauge css
.custom-gauge {
  width: 60px;
  height: 60px;
  margin: 1em;

  .wj-gauge {
    width: 100px;
    height: 100px;

    .wj-needle {
      fill: #f087f4;
      stroke: #f087f4;
    }
  }

  .wj-gauge g text {
    display: none;
  }

  .wj-gauge .wj-face path {
    fill: rgba(255, 255, 255, .2) !important;
    stroke: rgb(255 255 255 / 0%) !important;
  }

  .wj-needle path {
    d: path('M 0 7 L 80 0 L 0 -7 Z') !important;
  }

  .wj-gauge .wj-needle .wj-inner-needle-cap {
    fill: #f087f4;
    r: 13;
  }

  .wj-needle-cap {
    display: none;
  }

  .wj-gauge .wj-pointer,
  .wj-gauge .wj-needle {
    fill: #f087f4 !important;
  }

  .wj-inner-needle-cap {
    r: 13;
  }

  .purple {
    .wj-inner-needle-cap {
      fill: #4a81ee !important;
    }

    .wj-needle {
      stroke: #4a81ee !important;
    }

    .wj-pointer,
    .wj-needle {
      fill: #4a81ee !important;
    }
  }

  .pink {
    .wj-inner-needle-cap {
      fill: #f087f4 !important;
    }

    .wj-pointer,
    .wj-needle {
      fill: #f087f4 !important;
    }
  }
}
a[href^="https://www.grapecity.com/licensing/wijmo?utm_source=Wijmo-In-App&amp;utm_medium=Click-to-Site&amp;utm_campaign=Wijmo-User-Analysis"] {
  display: none;
}

a[target^=':blank'] {
  display: none;
}
