
<div class="matero-row default-wrap" fxLayout="row wrap">
    <mat-tab-group preserveContent class="tab">
        <mat-tab label="OVERVIEW">
            <div class="grid">
                <!-- BOP HEALT -->
                <div class="big-health" fxFlex="25" fxFlex.gt-sm="25" fxFlex.gt-md="25">
                    <!-- HEALT -->
                    <div class="parent-component">
                        <span class="title">Health</span>
                        <!-- BOB STACK -->
                        <div class="child-component">
                            <span>BOP Stack</span>
                            <div class="bop-stack-wraper">
                                <div fxFlex="50"  fxFlex.gt-sm="50" fxFlex.gt-md="50">
                                    <div class="bob-stack">
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Upper Annular</span>
                                        </div>
                                        <div class="bob-item active">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Lower Annular</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Gas Bleed Valve</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">LMRP Connector</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Choke Connector</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Kill Connector</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Wellhead Connector</span>
                                        </div>
                                    </div>
                                </div>
                                <div fxFlex="50"  fxFlex.gt-sm="50" fxFlex.gt-md="50">
                                    <div class="bob-stack">
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Upper Blind Shear</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Lower Blind Shear</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Casing Shear Ram</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Upper Pipe Ram</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Middle Pipe Ram</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Lower Pipe Ram</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Test Ram</span>
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>
                        <!-- 4 small components -->
                        <div class="small-pieces">
                            <div  class="matero-col" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                                <div class="child-piece">
                                       <div class="title">
                                            <img src="assets/images/moduspec/Power.svg" alt="">
                                            <span> Power</span>
                                       </div>
                                    <div class="bob-stack">
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Surface Power</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Subsea Power</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div  class="matero-col" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                                <div class="child-piece">
                                        <div class="title">
                                            <img src="assets/images/moduspec/Communication.svg" alt="">
                                            <span> Communications</span>
                                        </div>
                                    <div class="bob-stack">
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Surface Comm.</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Subsea Comm.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="small-pieces">
                            <div  class="matero-col" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                                <div class="child-piece">
                                        <div class="title">
                                            <img src="assets/images/moduspec/Hydraulics.svg" alt="">
                                            <span> Hydraulics</span>
                                        </div>
                                    <div class="bob-stack">
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">HPU</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Mixing System</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div  class="matero-col" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                                <div class="child-piece">
                                        <div class="title">
                                            <img src="assets/images/moduspec/Pod.svg" alt="">
                                            <span> Pod</span>
                                        </div>
                                    <div class="bob-stack">
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Blue Pod</span>
                                        </div>
                                        <div class="bob-item">
                                            <div class="bob-select"></div>
                                            <span class="bob-text">Yellow Pod</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- EVENT LOGGER -->
                    <div class="parent-component event-log">
                        <div class="event-log-header">
                            <span class="title">Event Logger</span>
                            <span class="clear"><a href="#">Clear all</a></span>
                        </div>
                        <div class="event-log-body">
                            <div class="logger active">
                                <img src="assets/images/moduspec/Warn-pink.svg" alt="">
                                <div>
                                    <span class="title">Failure Initiated: Lower annular element failure.</span>
                                    <p class="date">14:24:49 Thu Nov 19 2020</p>
                                </div>
                            </div>
                            <div class="logger">
                                <img src="assets/images/moduspec/Warn-yellow.svg" alt="">
                                <div>
                                    <span class="title">Stack Inclination Y-Direction from SEM Yellow B : 0.21 -0.89 degree</span>
                                    <p class="date">14:24:49 Thu Nov 19 2020</p>
                                </div>
                            </div>
                            <div class="logger">
                                <img src="assets/images/moduspec/Warn-yellow.svg" alt="">
                                <div>
                                    <span class="title">Stack Inclination Y-Direction from SEM Yellow B : 0.21 -0.89 degree</span>
                                    <p class="date">14:24:49 Thu Nov 19 2020</p>
                                </div>
                            </div>
                            <div class="logger">
                                <img src="assets/images/moduspec/Warn-yellow.svg" alt="">
                                <div>
                                    <span class="title">Stack Inclination Y-Direction from SEM Yellow B : 0.21 -0.89 degree</span>
                                    <p class="date">14:24:49 Thu Nov 19 2020</p>
                                </div>
                            </div>
                            <div class="logger active">
                                <img src="assets/images/moduspec/Warn-pink.svg" alt="">
                                <div>
                                    <span class="title">Failure Initiated: Lower annular element failure.</span>
                                    <p class="date">14:24:49 Thu Nov 19 2020</p>
                                </div>
                            </div>
                            <div class="logger active">
                                <img src="assets/images/moduspec/Warn-pink.svg" alt="">
                                <div>
                                    <span class="title">Failure Initiated: Lower annular element failure.</span>
                                    <p class="date">14:24:49 Thu Nov 19 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3DMODEL -->
                <div class="big-middle" fxFlex="43" fxFlex.gt-sm="43" fxFlex.gt-md="43">
                    <div class="parent-component status">
                        <div class="matero-col image-section" fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="50">
                            <span class="title">Status</span>
                            <!-- 3DModel -->
                            <img src="assets/images/moduspec/2DModel.png" alt="">
                        </div>
                        <div class="matero-col status-section" fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="50">
                            <div class="child-component">
                                <span>LMRP/Lower Stack Interface Status</span>
                                <div class="flex-none">
                                    <customtoggle [color]="'green'" [method]="'extend'" [title]="'Pod Stabs'"></customtoggle>
                                    <customtoggle [color]="'yellow'" [method]="'retract'" [title]="'Aux Pod Stabs'"></customtoggle>
                                    <customtoggle [color]="'red'" [method]="'retract'" [title]="'Choke and Kill Stabs '"></customtoggle>
                                    <customtoggle [color]="'green'" [method]="'extend'" [title]="'Acoustic Stabs'"></customtoggle>
                                    <customtoggle [color]="'green'" [method]="'retract'" [title]="'LMRP Gasket'"></customtoggle>
                                    <customtoggle [color]="'green'" [method]="'extend'" [title]="'Wetmate Connector'"></customtoggle>
                                </div>
                            </div>
                            <!-- Pressure status -->
                            <div class="child-component critical-pressure">
                                <span>Critical Pressure Readbacks Status</span>
                                <app-readbacks-status *ngFor="let status of readback_status_list" [status]="status"></app-readbacks-status>
                            </div>
                            <!-- POD Status -->
                            <div class="child-component">
                                <span>POD Status</span>
                                <div class="status flex-between">
                                    <div fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="75">
                                        <span class="status-label color-white">Surface Flowmeter</span>
                                    </div>
                                    <div class="active" fxFlex="25" fxFlex.gt-xs="25" fxFlex.gt-sm="25">
                                        <span>0.0gal</span>
                                    </div>
                                </div>
                                <div class="status flex-between">
                                    <div fxFlex="50" fxFlex.gt-xs="50" fxFlex.gt-sm="75">
                                        <span class="status-label color-white">Flowmeter Yellow Pod</span>
                                    </div>
                                    <div class="active" fxFlex="25" fxFlex.gt-xs="25" fxFlex.gt-sm="25">
                                        <span>0.0gal</span>
                                    </div>
                                </div>
                                <div class="status flex-between">
                                    <div fxFlex="75" fxFlex.gt-xs="75" fxFlex.gt-sm="75">
                                        <span class="status-label color-purple">Flowmeter Blue Pod</span>
                                    </div>
                                    <div class="inactive" fxFlex="25" fxFlex.gt-xs="25" fxFlex.gt-sm="25">
                                        <span>0.0gal</span>
                                    </div>
                                </div>
                                <div class="status flex-between">
                                    <div fxFlex="75" fxFlex.gt-xs="75" fxFlex.gt-sm="75">
                                        <span class="status-label color-white">SEM</span>
                                    </div>
                                    <div fxFlex="25" fxFlex.gt-xs="25" fxFlex.gt-sm="25">
                                        <div class="flex-between">
                                            <span class="square-active">A</span>
                                            <span class="square-inactive">B</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Emergy status -->
                            <div class="child-component">
                                <span>POD Status</span>
                                <div class="status flex-between">
                                    <div fxFlex="65" fxFlex.gt-xs="65" fxFlex.gt-sm="65">
                                        <span class="status-label color-white">DMAS Mode</span>
                                    </div>
                                    <div fxFlex="35" fxFlex.gt-xs="35" fxFlex.gt-sm="35">
                                        <div class="flex-between">
                                            <span class="square-active">Pipe</span>
                                            <span class="square-inactive">Casing</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="status flex-between">
                                    <div fxFlex="65" fxFlex.gt-xs="65" fxFlex.gt-sm="65">
                                        <span class="status-label color-white">EDS Mode</span>
                                    </div>
                                    <div fxFlex="35" fxFlex.gt-xs="35" fxFlex.gt-sm="35">
                                        <div class="flex-between">
                                            <span class="square-active">1</span>
                                            <span class="square-inactive">2</span>
                                            <span class="square-inactive">3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="status flex-between">
                                    <customtoggle [color]="'red'" [method]="'retract'" [title]="'DMAS'"></customtoggle>
                                </div>
                                <div class="status flex-between">
                                    <customtoggle [color]="'green'" [method]="'extend'" [title]="'Riser Recoil'"></customtoggle>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Model show -->
                <div class="bid-modal" fxFlex="32" fxFlex.gt-sm="32" fxFlex.gt-md="32">
                    <div class="pressure">
                        <div class="matero-col  progress-bar" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                            <!-- <img src="assets/images/moduspec/Ellipse.png" alt=""> -->
                            <!-- <wj-radial-gauge
                                [min]="0"
                                [max]="500"
                                [value]="100"
                                [showText]="(needleShape == 'Outer' || needleShape == 'None') ? 'Value' : 'None'"
                                [startAngle]="startAngle"
                                [sweepAngle]="sweepAngle"
                                [tickSpacing]="tickSpacing"
                                [needleShape]="needleShape"
                                [needleLength]="needleLength"
                                [thickness]=".2"
                                [showTicks]="true"
                                [showTickText]="true"
                                [isReadOnly]="false">
                            </wj-radial-gauge> -->
                            <customguage [color]="'purple'" [max]="20000" [value]="gauge[0]"></customguage>
                                <!-- <ng-progress></ng-progress> -->
                            <!-- <div id="preview">
                                <canvas width=70 height=70 id="canvas-preview"></canvas>
                                <div id="preview-textfield"></div>
                            </div> -->
                            <div>
                                <p>{{gauge[0]}} psi</p>
                                <span>LMRP Wellbore Pressure</span>
                            </div>
                        </div>
                        <div class="matero-col  progress-bar" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                            <customguage [color]="'purple'" [max]="70" [value]="gauge[1]"></customguage>
                            <div>
                                <p>{{gauge[1]}}°F</p>
                                <span>LMRP Wellbore Temp</span>
                            </div>
                        </div>
                    </div>
                    <div class="pressure">
                        <div class="matero-col  progress-bar red" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                            <customguage [color]="'pink'" [max]="20000" [value]="gauge[2]"></customguage>
                            <div>
                                <p>{{gauge[2]}} psi</p>
                                <span>Lower Stack Wellbore Press.</span>
                            </div>
                        </div>
                        <div class="matero-col  progress-bar red" fxFlex="50" fxFlex.gt-sm="50" fxFlex.gt-md="50">
                            <customguage [color]="'pink'" [max]="70" [value]="gauge[3]"></customguage>
                            <div>
                                <p>{{gauge[3]}}°F</p>
                                <span>Lower Stack Wellbore Temp.</span>
                            </div>
                        </div>
                    </div>
                    <div class="parent-component">
                        <img src="assets/images/moduspec/Model.png" alt="">
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="RTM">RTM</mat-tab>
  <mat-tab label="FAILURE PROPAGATION">FAILURE PROPAGATION</mat-tab>
</mat-tab-group>
</div>
